# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# IDEA
.idea/

# virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Tt]cl
pyvenv.cfg
.venv
pip-selfcheck.json

# Python
__pycache__
.pyc

# Private
afii/afii/private_settings.py
afii/afii.log
media/