 <div class="table-responsive">
    <table id="{{ id_table }}" class="table table-striped table-bordered table-hover tableSort">
        <thead>
            <tr>
                {% for h in table.header %}
                    <th><div>{{ h }}</div></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in table.value %}
                <tr>
                    {% for v in value %}
                        <td{% if v.status %} class="{{ v.status }}"{% endif %}>
                        {% if v.for_items %}
                            {% for i in v.for_items %}
                                {% if i.link %}
                                    <a href="{{ i.link }}">{{ i.name }}</a>
                                {% elif i.name %}
                                    {{ i.name }}
                                {% endif %}
                            {% endfor %}
                        {% elif v.link %}
                            <a href="{{ v.link }}">{{ v.name }}</a>
                        {% elif v.name %}
                            {{ v.name }}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>