{% comment "Переменные" %}
    {{ table }}                    - таблица
    {{ is_modal_button }}          -
    {{ data_target_modal_button }} -
{% endcomment %}


<h2 class="sub-header hidden-print">
    {% if table.button.is_button %}
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-justified">
                    {% if is_modal_button %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="{{ data_target_modal_button }}">{{ table.button.button_name }}</button>
                        </div>
                    {% else %}
                        <a href="{{ table.button.get_absolute_url }}" class="btn btn-default" title="Добавить">{{ table.button.button_name }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9">
    {% endif %}
                <div class="input-group">
                    <input type="search" id="searchPrinter" class="form-control" placeholder="Поиск...">
                    <span class="input-group-addon">по </span>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right" role="menu" data-search-table-id="{{ table.table_id }}"></ul>
                    </div>
                </div>
    {% if table.button.is_button %}
            </div>
        </div>
    {% endif %}
</h2>


{% include 'inventory/block_table.html' with id_table=table.table_id add_table_class='table-bordered table-hover tableSort' %}
