{% extends 'inventory/base.html' %}


{% load staticfiles %}


{% block head_js_script %}
    <!-- jQuery plugin QR код -->
    <script src="{% static 'inventory/js/jquery.qrcode.min.js' %}"></script>
    <!-- jQuery plugin print -->
    <script src="{% static 'inventory/js/jquery.print.js' %}"></script>
    <!-- js обработка печати -->
    <script src="{% static 'inventory/js/print.qrcode.js' %}"></script>
{% endblock %}


{% block modal_windows %}
    <div class="modal fade" id="ModalQRcodePrinter" tabindex="-1" role="dialog" aria-labelledby="ModalQRcodePrinterLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ModalQRcodePrinterLabel">QR code</h4> </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="widthPage">Ширина страницы:</label>
                                <div class="input-group">
                                    <input type="number" id="widthPage" class="form-control" value="93.5" step="0.5" min="10" max="150"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="heightPage">Высота страницы:</label>
                                <div class="input-group">
                                    <input type="number" id="heightPage" class="form-control" value="67" step="0.5" min="10" max="1000"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Размер QR code:</label>
                                <div class="input-group">
                                    <input type="number" id="sizeQRcode" class="form-control" value="128" min="64" max="256"> <span class="input-group-addon">px</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Кол-во QR code:</label>
                                <div class="input-group">
                                    <select id="countQRcode" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select> <span class="input-group-addon">шт</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Заголовок:</label>
                                <div class="input-group"> <span class="input-group-addon">
                      <input type="checkbox" id="isTitleQRcode" checked>
                    </span>
                                    <input type="number" id="titleSizeQRcode" class="form-control" value="24" min="12" max="64"> <span class="input-group-addon">px</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">IP:</label>
                                <div class="input-group"> <span class="input-group-addon">
                      <input type="checkbox" id="isIpQRcode" checked>
                    </span>
                                    <input type="number" id="ipSizeQRcode" class="form-control" value="24" min="12" max="64"> <span class="input-group-addon">px</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Oтступ снаружи:</label>
                                <div class="input-group">
                                    <input type="number" id="paddingPageQRcode" class="form-control" value="1" step="0.5" min="0" max="20"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Отступ внутри:</label>
                                <div class="input-group">
                                    <input type="number" id="paddingPrintQRcode" class="form-control" value="1" step="0.5" min="0" max="20"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="">Рамка (тип линии):</label>
                                <div class="input-group"> <span class="input-group-addon">
                      <input type="checkbox" id="isBorderQRcode" checked>
                    </span>
                                    <select id="borderTypeQRcode" class="form-control">
                                        <option value="solid">Сплошная</option>
                                        <option value="dashed">Пунктирная 1</option>
                                        <option value="dotted">Пунктирная 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="pageQRcode" class="center-block">
                        <div id="printQRcodeCount1" class="printQRcode">
                            <h1 class="titleQRcode text-center">{{ header }}</h1> <img class="imgQRcode center-block">
                            <p class="ipQRcode text-center">{{ printer_ip }}</p>
                        </div>
                        <div id="printQRcodeCount2" class="row">
                            <div class="printQRcode col-xs-6">
                                <h1 class="titleQRcode text-center">{{ header }}</h1> <img class="imgQRcode center-block">
                                <p class="ipQRcode text-center">{{ printer_ip }}</p>
                            </div>
                            <div class="printQRcode col-xs-6">
                                <h1 class="titleQRcode text-center">{{ header }}</h1> <img class="imgQRcode center-block">
                                <p class="ipQRcode text-center">{{ printer_ip }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" id="btnQRcodePrint" class="btn btn-primary">Печать...</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <h1 class="page-header">{{ header }} <small>Принтер</small>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" title="Редактиорвать"><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="button" class="btn btn-default btn-sm" title="Удалить"><span class="glyphicon glyphicon-trash"></span></button>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#ModalQRcodePrinter" title="QR"><span class="glyphicon glyphicon-qrcode"></span></button>
        </div>
    </h1>
    <div class="row">
        <div class="col-md-7">
            <table class="table">
                <tbody>

                    {% for e in element %}
                        <tr>
                            <td><strong>{{ e.name }}</strong></td>
                            {% if e.link %}
                                <td><a href="//{{ e.link }}" target="_blank">{{ e.value }}</a></td>
                            {% else %}
                                <td>{{ e.value }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    <!--<tr>
                        <td><strong>№ Кабинета</strong></td>
                        <td>{{ printer.cabinet }}</td>
                    </tr>
                    <tr>
                        <td><strong>Пользователь</strong></td>
                        <td>{{ printer.user }}</td>
                    </tr>
                    <tr>
                        <td><strong>IP</strong></td>
                        <td><a href="{{ printer.ip }}">{{ printer. }}</a></td>
                    </tr>
                    <tr>
                        <td><strong>User</strong></td>
                        <td>{{ printer.login }}</td>
                    </tr>
                    <tr>
                        <td><strong>Password</strong></td>
                        <td>{{ printer.password }}</td>
                    </tr>
                    <tr>
                        <td><strong>Тип печати</strong></td>
                        <td>{{ printer.base_printer.get_type_printing_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Цвет тонера</strong></td>
                        <td>{{ printer.base_printer.get_color_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Тип устройства</strong></td>
                        <td>{{ printer.base_printer.get_type_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Формат бумаги</strong></td>
                        <td>{{ printer.base_printer.get_type_paper_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Серийный номер</strong></td>
                        <td>{{ printer.sn }}</td>
                    </tr>
                    <tr>
                        <td><strong>Дата установки</strong></td>
                        <td>{% if printer.date %}{{ printer.date }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Информация по расходникам</strong></td>
                        <td><a href="{{ printer. }}">{{ printer.base_printer.info_consumables }}</a></td>
                    </tr>
                    <tr>
                        <td><strong>Примечание</strong></td>
                        <td>{{ printer.description }}</td>
                    </tr>-->
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <a href="{% if printer.image %}{{ printer.image.url }}{% else %}{% static 'inventory/img/default.png' %}{% endif %}" class="thumbnail"> <img src="{% if printer.image %}{{ printer.image.url }}{% else %}{% static 'inventory/img/default.png' %}{% endif %}" alt="{{ printer.base_printer.name }}"> </a>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading"><strong>Тонер картридж</strong></div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Картридж</th>
                    <th>Кол-во</th>
                    <th>Номер полки</th>
                    <th>Цвет тонера</th>
                    <th>Модель принтера</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">106R01294</a></td>
                    <td class="success">9</td>
                    <td>A-2</td>
                    <td>ЧБ</td>
                    <td><a href="">Xerox WC 238</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading"><strong>Драм картридж</strong></div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Картридж</th>
                    <th>Кол-во</th>
                    <th>Номер полки</th>
                    <th>Модель принтера</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">113R01294</a></td>
                    <td class="danger">0</td>
                    <td>A-4</td>
                    <td><a href="">Xerox WC 238</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading"><strong>ЗИПы</strong></div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Тип</th>
                    <th>Кол-во</th>
                    <th>Модель принтера</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">126K29404</a></td>
                    <td>Фьюзер</td>
                    <td class="warning">1</td>
                    <td><a href="">Xerox WC 238</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}