{% extends 'inventory/elements.html' %}
{% load staticfiles %}


{% comment "Переменные шаблона" %}
    Шаблон наследует 'inventory/elements.html' и все его переменные.

    {{ printer_ip }}         - ip принтера
    {{ toner }}              - тонер-картридж для принтера
    {{ toner_table_status }} - статус таблицы тонер-картриджа
    {{ dram }}               - драм-картридж для принтера
    {{ dram_table_status }}  - статус таблицы драм-картридж
    {{ zip }}                - запчасти для принтера
    {{ zip_table_status }}   - статус таблицы запчасти
{% endcomment %}

{% comment "Блоки шаблона" %}
    Шаблон наследует 'inventory/elements.html' и все его блоки.
{% endcomment %}


{% block page_js_script %}
    <!-- jQuery plugin QR код -->
    <script src="{% static 'inventory/js/jquery.qrcode.min.js' %}"></script>
    <!-- jQuery plugin print -->
    <script src="{% static 'inventory/js/jquery.print.js' %}"></script>
    <!-- js обработка печати -->
    <script src="{% static 'inventory/js/print.qrcode.js' %}"></script>
{% endblock %}

{% block modal_windows %}
    <div class="modal fade" id="ModalQRcodePrinter" tabindex="-1" role="dialog" aria-labelledby="ModalQRcodePrinterLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ModalQRcodePrinterLabel">QR code</h4> </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="widthPage">Ширина страницы:</label>
                                <div class="input-group">
                                    <input type="number" id="widthPage" class="form-control" value="93.5" step="0.5" min="10" max="150"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="heightPage">Высота страницы:</label>
                                <div class="input-group">
                                    <input type="number" id="heightPage" class="form-control" value="67" step="0.5" min="10" max="1000"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Размер QR code:</label>
                                <div class="input-group">
                                    <input type="number" id="sizeQRcode" class="form-control" value="128" min="64" max="256"> <span class="input-group-addon">px</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Кол-во QR code:</label>
                                <div class="input-group">
                                    <select id="countQRcode" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select> <span class="input-group-addon">шт</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Заголовок:</label>
                                <div class="input-group"> <span class="input-group-addon">
                      <input type="checkbox" id="isTitleQRcode" checked>
                    </span>
                                    <input type="number" id="titleSizeQRcode" class="form-control" value="24" min="12" max="64"> <span class="input-group-addon">px</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">IP:</label>
                                <div class="input-group"> <span class="input-group-addon">
                      <input type="checkbox" id="isIpQRcode" checked>
                    </span>
                                    <input type="number" id="ipSizeQRcode" class="form-control" value="24" min="12" max="64"> <span class="input-group-addon">px</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Oтступ снаружи:</label>
                                <div class="input-group">
                                    <input type="number" id="paddingPageQRcode" class="form-control" value="1" step="0.5" min="0" max="20"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">Отступ внутри:</label>
                                <div class="input-group">
                                    <input type="number" id="paddingPrintQRcode" class="form-control" value="1" step="0.5" min="0" max="20"> <span class="input-group-addon">мм</span> </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="">Рамка (тип линии):</label>
                                <div class="input-group"> <span class="input-group-addon">
                      <input type="checkbox" id="isBorderQRcode" checked>
                    </span>
                                    <select id="borderTypeQRcode" class="form-control">
                                        <option value="solid">Сплошная</option>
                                        <option value="dashed">Пунктирная 1</option>
                                        <option value="dotted">Пунктирная 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="pageQRcode" class="center-block">
                        <div id="printQRcodeCount1" class="printQRcode">
                            <h1 class="titleQRcode text-center">{{ name_element }}</h1> <img class="imgQRcode center-block">
                            <p class="ipQRcode text-center">{{ printer_ip }}</p>
                        </div>
                        <div id="printQRcodeCount2" class="row">
                            <div class="printQRcode col-xs-6">
                                <h1 class="titleQRcode text-center">{{ name_element }}</h1> <img class="imgQRcode center-block">
                                <p class="ipQRcode text-center">{{ printer_ip }}</p>
                            </div>
                            <div class="printQRcode col-xs-6">
                                <h1 class="titleQRcode text-center">{{ name_element }}</h1> <img class="imgQRcode center-block">
                                <p class="ipQRcode text-center">{{ printer_ip }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" id="btnQRcodePrint" class="btn btn-primary">Печать...</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header_button %}
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#ModalQRcodePrinter" title="QR"><span class="glyphicon glyphicon-qrcode"></span></button>
{% endblock %}

{% block additional_content %}
    {% if toner %}
        <div class="panel panel-{{ toner_table_status }}">
            <div class="panel-heading"><strong>Тонер картридж</strong></div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Картридж</th>
                        <th>Кол-во</th>
                        <th>Номер полки</th>
                        <th>Цвет тонера</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in toner %}
                        <tr>
                            <td><a href="{{ t.link }}">{{ t.name }}</a></td>
                            <td class="{{ t.status }}">{{ t.count }}</td>
                            <td>{{ t.shelf }}</td>
                            <td>{{ t.color }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if dram %}
        <div class="panel panel-{{ dram_table_status }}">
            <div class="panel-heading"><strong>Драм картридж</strong></div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Картридж</th>
                        <th>Кол-во</th>
                        <th>Номер полки</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for d in dram %}
                            <td><a href="{{ d.link }}">{{ d.name }}</a></td>
                            <td class="{{ d.status }}">{{ d.count }}</td>
                            <td>{{ d.shelf }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if zip %}
        <div class="panel panel-{{ zip_table_status }}">
            <div class="panel-heading"><strong>ЗИПы</strong></div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Тип</th>
                        <th>Кол-во</th>
                        <th>Номер полки</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for z in zip %}
                            <td><a href="{{ z.link }}">{{ z.name }}</a></td>
                            <td>{{ z.type }}</td>
                            <td class="{{ z.status }}">{{ z.count }}</td>
                            <td>{{ z.shelf }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}