{% extends 'inventory/base.html' %}
{% load staticfiles %}


{% comment "Переменные шаблона" %}
    Шаблон наследует 'inventory/base.html' и все его переменные.
    В шаблон подключается (include) 'inventory/block_table.html'.

    {{ name_space }}   - имя площадки
    {{ table }}        - таблица
    {{ btn_link_add }} - ссылка на добавление элемента
    {{ btn_name_add }} - текст кнопки
    {{ active_tab }}   - определяет какой tab сейчас активен
{% endcomment %}

{% comment "Блоки шаблона" %}
    Шаблон наследует 'inventory/base.html' и все его блоки.

    {% block tab_content %} -
{% endcomment %}


{% block page_js_script %}
    <!-- Поиск в таблице -->
    <script src="{% static 'inventory/js/search.table.js' %}"></script>
    <!-- Сортировка в таблице -->
    <script src="{% static 'inventory/js/sort.table.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header hidden-print">{{ name_space }} <small>площадка</small></h1>
     <!-- Nav tabs -->
    <ul class="nav nav-pills hidden-print">  <!--или class="nav nav-tabs" для табов-->
        <li{% if active_tab == 1 %} class="active"{% endif %}><a href="{% url 'inventory:printers' space_id %}">Принтер</a></li>
        <li{% if active_tab == 2 %} class="active"{% endif %}><a href="{% url 'inventory:cartridges' space_id %}">Картридж</a></li>
        <li{% if active_tab == 3 %} class="active"{% endif %}><a href="{% url 'inventory:zips' space_id %}">ЗИПы</a></li>
        <li{% if active_tab == 4 %} class="active"{% endif %}><a href="{% url 'inventory:papers' space_id %}">Бумага</a></li>
        <li{% if active_tab == 5 %} class="active"{% endif %}><a href="{% url 'inventory:distributions' space_id %}">Дистрибутивы</a></li>
        <li{% if active_tab == 6 %} class="active"{% endif %}><a href="{% url 'inventory:computers' space_id %}">Компьютеры</a></li>

        <li class="dropdown" class="active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Склад <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="">Склад 1</a></li>
                <li><a href="">Склад 2</a></li>
            </ul>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            {% block tab_content %}
                <h2 class="sub-header hidden-print">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn-group btn-group-justified">
                                <a href="{{ btn_link_add }}" class="btn btn-default" title="Добавить">{{ btn_name_add }}</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="search" id="searchPrinter" class="form-control" placeholder="Поиск...">
                                <span class="input-group-addon">по </span>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right" role="menu" data-search-table-id="table"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </h2>
                <div class="table-responsive">
                    {% include 'inventory/block_table.html' with id_table='table' add_table_class='table-striped table-bordered table-hover tableSort' %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
