{% extends 'inventory/space.html' %}
{% load staticfiles %}


{% comment "Переменные шаблона" %}
    Шаблон наследует 'inventory/space.html' и все его переменные.
    В шаблон подключается (include) 'inventory/block_table.html'.

    {{ category }}
    {{ count_all }}
{% endcomment %}

{% comment "Блоки шаблона" %}
    Шаблон наследует 'inventory/space.html' и все его блоки.
{% endcomment %}


{% block add_page_js_script %}
    <!-- Фильтрация данных  в таблице склада -->
    <script src="{% static 'inventory/js/filter.storage.table.js' %}"></script>
{% endblock %}

{% block tab_content %}
    <h2 class="sub-header hidden-print">
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="Добавить"><span class="glyphicon glyphicon-plus"></span> категорию</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="Добавить"><span class="glyphicon glyphicon-plus"></span> наименование</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Поиск...">
                    <span class="input-group-addon"></span>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right" role="menu" data-search-table-id="table"></ul>
                    </div>
                </div>
            </div>
        </div>
    </h2>
    <div class="row">
        <div class="col-md-4 hidden-print">
            <ul id="categotyMenu" class="list-group">
                <li class="list-group-item active" data-category-id="0"><span class="badge">{{ count_all }}</span>Все</li>
                {% for c in category %}
                    <li class="list-group-item"><span class="badge">{{ c.count }}</span>{{ c.name }}</li>
                    {% if c.for_items %}
                        {% for i in c.for_items %}
                            <li class="list-group-item sub-item" data-category-id=""><span class="badge">{{ i.count }}</span>{{ i.name }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <div class="table-responsive">
                {% include 'inventory/block_table.html' with id_table='table' add_table_class='table-striped table-bordered table-hover tableSort' %}
            <div class="table-responsive">
        </div>
    </div>
{% endblock %}